@import url(http://fonts.googleapis.com/css?family=Roboto);

/* Cover /Jumbotron Styles For Hydro
========================================*/
.flood-header {
  margin-top: 60px;
  position: relative;
  text-align: right;
}
.flood-header img {
  width: 100vw;
  height: 45vh;
}
.flood-header-text {
  top: 30%;
  right: 20%;
  position: absolute;
  color: #fff;
  display: block;
}
.flood-second img {
  width: 100vw;
  height: 100%;
  max-height: 693px;
}
.flood-sub-title {
  font-style: italic;
  font-weight: 200;
  padding-right: 55%;
}
.flood-title {
  font-size: 90px;
}
/* Flood Styles
========================================*/
.stay-informed-container {
  margin: auto;
  padding: 50px;
}
.stay-informed-num {
  width: 100%; /* for IE 6 */
  font-style: italic;
  display: flex;
  align-items: center;
}
.stay-informed-num span {
  font-size: 24px;
  color: #000;
  padding-top: 15px;
}
.stay-informed-num-text {
  position: absolute;
  left: 10;
}
.stay-informed-img {
  max-width: 100%;
  padding: 1%;
  margin: auto;
}
.stay-informed-img-container img {
  width: 25%;
}
/* Flood-Media-Query Styles
========================================*/
@media (max-width: 1024px) {
  .flood-header-text {
    right: 10%;
  }
}
@media (max-width: 890px) {
  .flood-header-text {
    right: 8%;
  }
  .flood-title {
    font-size: 80px;
  }
}
@media (max-width: 799px) {
  .flood-header-text {
    right: 5%;
  }
  .flood-header-text .flood-sub-title {
    font-size: 30px;
  }
  .flood-sub-title {
    padding-right: 45%;
  }
  .flood-title {
    font-size: 70px;
  }
}
@media (max-width: 650px) {
  .flood-header-text {
    right: 5%;
  }
  .flood-header-text .flood-sub-title {
    font-size: 25px;
  }
  .flood-sub-title {
    padding-right: 40%;
  }
  .flood-title {
    font-size: 60px;
  }
  .stay-informed-num img {
    width: 35px;
  }
  .stay-informed-num span {
    font-size: 20px;
    padding-top: 10px;
  }
}
@media (max-width: 500px) {
  .flood-header-text .flood-sub-title {
    font-size: 20px;
  }
  .flood-sub-title {
    padding-right: 40%;
  }
  .flood-title {
    font-size: 50px;
  }
  .stay-informed-container {
    padding: 50px 20px;
  }
  .stay-informed-num img {
    width: 30px;
  }
  .stay-informed-num span {
    font-size: 16px;
    padding-top: 7px;
  }
}
@media (max-width: 425px) {
  .flood-sub-title {
    padding-right: 30%;
  }
}
@media (max-width: 375px) {
  .flood-header-text .flood-sub-title {
    font-size: 20px;
  }
  .flood-sub-title {
    padding-right: 35%;
  }
  .flood-title {
    font-size: 40px;
  }
  .stay-informed-num img {
    width: 28px;
  }
  .stay-informed-num span {
    font-size: 14px;
    padding-top: 5px;
  }
}
@media (max-width: 375px) {
  .flood-sub-title {
    padding-right: 20%;
  }
}
